{% extends 'backbone/base.html' %}

{% block title %} - User Login{% endblock %}

{% block content %}
    <h1 class="form-page-title">Sign in</h1>
    <form class="form-page-form" method="post" action=".">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <div>
                <input type="submit" value="login" class="btn primary"/> or <a href="/register/">Sign up</a>
            </div>
            
            <div>
                <a href="{% url django.contrib.auth.views.password_reset %}">Forgot password?</a>
            </div>
            <input type="hidden" name="next" value="{% if next %}{{next}}{% else%}/{%endif%}" />
        </p>
    </form>
{% endblock %}
