{% extends 'backbone/base.html' %}

{% block title %} - Change Password{% endblock %}

{% block css %}

label{
	width: 200px;
	padding-right: 5px;
}

ul.errorlist{
	margin-left: 205px;
}

h1{
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
}

{% endblock %}

{% block content %}
	{% block form-error %}
	{% endblock form-error %}
	<h1>Change Password</h1>
		<form method="post" action=".">
			{% csrf_token %}
		    {{form.as_p}}
			<p>
				<label for="id_change_password"></label>
		    	<input type="submit" value="change password" class="btn primary"/>					
			</p>
		</form>
{% endblock %}