.form-page-title{
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
}

.form-page-form{
    margin-top: 10px;
}

ul.errorlist{
    list-style: none;
}

ul.errorlist li{
    color: #B94A48;
}

.form-page-form ul.errorlist{
    margin: 10px 0;
}

#login-form{
    margin: 0;
    float: right;
}

#sign-up, #sign-up a{
    color: #FFFFFF;
}

footer{
    margin-top: 10px;
}
