.content{
    min-height: 100px;
    border-bottom: 1px solid #D2D9E7;
    padding: 5px 5px 15px 5px;
    margin-top: 10px;
}

.content.first{
    border-top: 1px solid #F2F3F4;
    margin-top: 0;
}

.content .head{
    line-height: 42px;
}
.content .name{
    font-size: 32px;
}

.content .index-posts .post{
    font-size: 14px;
    background-color:#EDEFF4;
    padding: 8px;
    border-top: 1px solid #F2F3F4;
}

.content .post-message{
    width: 75%;
    padding: 10px;
}

.content #post-message-form button{
    margin-left: 10px;
    padding: 9px 15px;
}

.content .posts{
    background-color: #FFFFFF;
    margin: 5px 0 0 ;
    font-size: 14px;
}

.content .posts .post{
    border-top: 1px solid #F2F3F4;
    padding: 8px;
    margin-top: 10px;
}

.content .post-end, .content .active-info{
    color: #999999;
    font-size: 11px;
    font-weight: normal;
}

.content .active-info{
    font-size: 13px;
    margin-left: 5px;
}

.content .posts .post .comments{
    margin: 5px 15px 0 15px;;
    background-color: #EDEFF4;
    font-size: 12px;
    padding: 0;
    width: 85%;
}

.content .posts .post .comments div{
    padding:5px;
    border-top: 1px solid #D2D9E7;
}

.content .posts .post .comments .comment{
    margin: 0;
    width: 80%;
}

.comments .comment-error-message{
    margin-left: 5px;
    color: #B94A48;
}