<div class="members">
    <div id="header">
        Feeds
    </div>

    <div class="post">
        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
         <span class="post-end">15 hours ago<a href="#">
             <i class="icon-pencil"></i>
             comment
         </a></span>
    </div>

    <div class="post">
        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
         <span class="post-end">15 hours ago<a href="#">
             <i class="icon-pencil"></i>
             comment
         </a></span>
    </div>

    <div class="post">
        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
         <span class="post-end">15 hours ago<a href="#">
        <i class="icon-pencil"></i>
        comment
    </a></span>
    </div>
</div>