{% extends 'backbone/base.html' %}

{% block css-link %}
<link href="/static/css/wall.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">

<link href="/static/css/feed.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">

<link href="/static/css/datepicker.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">
{% endblock %}

{% block js %}
<script src="/static/js/plugin/bootstrap-datepicker.js"></script>
<script src="/static/js/plugin/events.js"></script>

<script>
    $(document).ready(function() {

        {% if event_form_with_error %}
            $('#event-tab').click(); //from event post form.
        {% endif %}

        {% if not user.is_authenticated %}
        $('.row input, .row select, .row button, .row select, .row textarea').addClass('disabled').attr('disabled', '');
        $('#post-message').attr('placeholder', 'login to post a message...');
        $('#post-what').attr('placeholder', 'login to post an event...');
        $('.comment').attr('placeholder', 'login to post a comment...');

        {% endif %}
        
        $('a.close').live('click',function() {
            $(this).parent('div.alert').remove();
        });


        /* Update datepicker plugin so that MM/DD/YYYY format is used. */
        $.extend($.fn.datepicker.defaults, {
            parse: function (string) {
                var matches;
                if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
                    return new Date(matches[3], matches[1] - 1, matches[2]);
                } else {
                    return null;
                }
            },
            format: function (date) {
                var
                        month = (date.getMonth() + 1).toString(),
                        dom = date.getDate().toString();
                if (month.length === 1) {
                    month = "0" + month;
                }
                if (dom.length === 1) {
                    dom = "0" + dom;
                }
                return month + "/" + dom + "/" + date.getFullYear();
            }
        });

        $('.input-large.comment').keypress(function(event) {
            $('.comment-error-message').hide();
            var target_divs = $('.' + $(this).attr('post-id'));
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if(keycode == 13)
            {
                thisInput = $(this); //store for showing comment error message
                $.ajax({
                    url: 'submit_comment',
                    type: 'POST',
                    data: 'post=' + thisInput.attr('post-id') + '&content=' + $(this).val() + '&csrfmiddlewaretoken={{ csrf_token }}',
                    complete: function (data, status)
                    {
                        data = $.parseJSON(data.responseText);
                        
                        if ((status == 'success') && data.status == 'OK' && data.length != 0)
                        {
                            target_divs.before('<div>' + data.comment + '</div>');
                            thisInput.val('');
                        }
                        else
                        {
                            thisInput.next('.comment-error-message').show();
                        }
                    }
                });
            }
        });
});
</script>
{% endblock %}


{% block css %}
.datepicker .fg{
font-size: 13px;
}

.datepicker .dow{
font-size: 12px;
}

#tab-posts{
margin: 0
}

{% endblock %}


{% block content %}
<div class="row">
<div class="span8">
<div class="content">
<div class="head">
    <a href="{{activity_page.url_code}}" class="name">{{activity_page.name}}</a>
    <span class="active-info">| {{activity_page.post_set.all|length}} posts</span>
</div>

<div class="tabbable">
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#1" data-toggle="tab">Message</a>
    </li>
    <li>
        <a href="#2" data-toggle="tab" id="event-tab">Event</a>
    </li>
</ul>


<div class="tab-content">
    {% include 'backbone/post_message_form.html' %}




    {% include 'backbone/post_event_form.html' %}
</div>


</div>


<div class="tabbable">
    <ul class="nav nav-pills" id="tab-posts">
        <li class="active"><a href="#3" data-toggle="tab">Show All Posts</a></li>
        <li><a href="#4" data-toggle="tab">Show Only Events</a></li>
    </ul>

    <div class="tab-content">
        {% include 'backbone/show_all_posts.html' %}




        {% include 'backbone/show_events.html' %}
    </div>
</div>
</div>
</div>
<div class="span3">

    {% include 'backbone/feed.html' %}

</div>
</div>
{% endblock %}



