{% extends 'backbone/base.html' %}

{% block css-link %}
    <link href="/static/css/wall.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">
{% endblock %}

{% block css %}
#school-head{
    margin: 0 20px 10px;
}
{% endblock %}

{% block content %}
    <div class="row">

        <h2 id="school-head">
            <div>Find activity partners at Stanford university</div>          
        </h2>


        <div class="span8">
        {% for activity in activities %}
            {%if forloop.first %}
                <div class="content first">
            {%else%}
                <div class="content">
            {%endif%}
                <div class="head">
                    <a href="{{activity.url_code}}" class="name">{{activity.name}}</a>
                    <span class="active-info">| {{activity.post_set.all|length}} posts</span>
                </div>
                <div class="index-posts">
                {%if activity.post_set.all %}
                    {%for post in activity.post_set.all|slice:"3"%}
                        <div class="post">
                            <b>{{post.user.username}}: </b>

                            {%if post.event_post.title %}
                                {{post.event_post.title}}
                            {%else%}
                                {{post.text_post.content}}
                            {%endif%}

                            <span class="post-end"> | {{post.post_time|timesince}}</span>
                        </div>
                    {%endfor%}
                    <div class="post"><a href="{{activity.url_code}}"><i class="icon-comment"></i> view and comment all posts</a></div>
                {%endif%}
                </div>
             </div>
        {%endfor%}
        </div>
    </div>
{% endblock %}
