{% extends 'backbone/base.html' %}

{% block css-link %}

<link href="/static/css/wall.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">

{% endblock %}

{% block css %}
#school-head{
    margin: 0 20px 10px;
}
{% endblock %}

{% block content %}
    <div class="row">

        <h2 id="school-head">Connect stanford students offline.</h2>

        <div class="span7">

            <div class="content first">
                <div class="head">
                    <a href="#" class="name">Tennis</a>
                    <span class="active-info">200 posts | 200 active members</span>
                </div>

                <div class="post">
                    <div>
                        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
                        <span class="time"> | 15 hours ago</span>
                    </div>
                    <div>
                        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
                        <span class="time"> | 15 hours ago</span>
                    </div>

                </div>



             </div>

            <div class="content">
                <div class="head">
                    <a href="#" class="name">Tennis</a>
                    <span class="active-info">200 posts | 200 active members</span>
                </div>

                <div class="post">
                    <div>
                        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
                        <span class="time"> | 15 hours ago</span>
                    </div>
                    <div>
                        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
                        <span class="time"> | 15 hours ago</span>
                    </div>

                </div>



            </div>

            <div class="content">
                <div class="head">
                    <a href="#" class="name">Tennis</a>
                    <span class="active-info">200 posts | 200 active members</span>
                </div>

                <div class="post">
                    <div>
                        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
                        <span class="time"> | 15 hours ago</span>
                    </div>
                    <div>
                        <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
                        <span class="time"> | 15 hours ago</span>
                    </div>

                </div>



            </div>

        </div>
    </div>
{% endblock %}