<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
	<link href="/static/css/bootstrap.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">
	<link href="/static/css/main.css" type="text/css" title="default" rel="stylesheet" media="screen, projection">

    {% block css-link %}

    {% endblock %}


	<style type="text/css">

	{% block css %}


	{% endblock %}
	</style>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js
"></script>
	<script src="/static/js/plugin/bootstrap.js"></script> <!-- dropdown tabs -->

	{% block js%}
	
	
	{% endblock %}
</head>
<body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url main-page %}">ActiveSU</a>
            <ul class="nav">
                <li class="active">
                    <a href="{% url main-page %}">Home</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{user.last_name}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/password/change/">change password</a></li>
                            <li><a href="{% url logout %}">logout</a></li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <form class="form-inline" id="login-form" action="{% url login %}" method="POST">
                    {% csrf_token %}
                    <input class="input-medium" type="text" placeholder="Email or username" name="username">
                    <input class="input-medium" type="password" placeholder="Password" name="password">
                    <button class="btn" type="submit">Login</button>
                    <span id="sign-up">| <a href="{% url register %}">Sign Up</a></span>
                </form>
            {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
        {% block content %}

        {% endblock content %}
        <footer>
            <p>ActiveSU&copy; 2012 | <a href="/about/"> About Us</a></p>
        </footer>
     </div> <!-- /container -->
</body>
</html>
