<div class="alert alert-error">
    <a class="close" href="#">×</a>
    <p>
        <strong>An error occurred while processing your request</strong>
    </p>
    <ul>
        {% if message_form_with_error %}
            {% for field in message_form_with_error %}
        {% else if event_form_with_error %}
            {% for field in event_form_with_error %}
        {% endif %}
            {% if field.errors %}
                <li>{{ field.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
