<div><b>{{post.user.username}}</b></div>
<div><i class="icon-calendar"></i>{{event.title}}</div>

<div>When: {{event.start_datetime}}
    {% if event.end_datetime %}
    - {{event.end_datetime}}
    {% endif %}
</div>

<div>Where: {{event.where}}</div>
<div>{{event.description}}</div>

<div><span class="post-end">Posted at {{post.post_time|timesince}} ago

             {% if activity_page.show_email %}
                | <a href="#send-email-modal" class="email-me" post-id="{{post.id}}" data-toggle="modal"><i class="icon-envelope"></i>Email me</a>
             {% endif %}

             </span></div>



