<div class="tab-pane active" id="3">
    <div class="posts">
        {%if not all_posts %}
        There are currently no posts on this page.  You can be the first to add one!
        {%else%}

        {%for post in all_posts %}
        <div class="post">
            {%if post.text_post.content %}


            <div><b>{{post.user.username}}: </b>{{post.text_post.content}}<span class="post-end"> | {{post.post_time}}

            {%else%}

            {% with post.event_post as event %}
            {% include 'backbone/loop_events.html'%}
            {% endwith %}

            <div class="comments">
                {% include 'backbone/loop_comments.html' %}
            </div>
        </div>
        {%endfor%}
        {%endif%}
    </div>
</div>