{% comment %}
        TODO
        - if check first
        - if it's activity page, have post input
        - if not joined, show JOIN button

{% endcomment %}
<div class="content first">
    <div class="head">
        <a href="#" class="name">Tennis</a>
        <span class="active-info">200 posts | 200 active members</span>
    </div>

    {% comment %}
    TODO
    <div>
        <form class="form-inline">
            <input class="comment"  placeholder="Write to the wall...">
        </form>
    </div>
    {% endcomment %}

    <div class="post">
        <div>
            <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court. Meet me at stanford university ave.
             <span class="time"> | 15 hours ago</span>
        </div>

        <div>
            <b>rui xia:</b> I'd like to play basketball with someone wednesday night at court.
            <span class="time"> | 15 hours ago</span>
        </div>
    </div>
</div>